# Environments
.artifacts/
venv/
env/
.venv/
.env/
ENV/
env.bak/
venv.bak/
.mlproj.egg-info/
*.egg-info/
*.egg
*.whl
*.coverage
*.cache


# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.txt/
mlproj.egg-info/
.eggs/

# Jupyter Notebook
.ipynb_checkpoints

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs and output files
*.log
logs/

# ML artifacts
artifacts/
*.pkl
*.joblib

# Coverage reports
.coverage

# Test results